<div class="page">
  <div>
    <h1 style="text-align: center;">Login</h1>

    <div style="width: fit-content; margin: auto;">
      <div style="margin-bottom: 20px">
        <label class="form-label">Email</label>
        <input class="form-control" ng-model="email"/>
      </div>
      <div>
        <label class="form-label">Password</label>
        <input class="form-control" type="password" ng-model="password"/>
      </div>
      <div style="margin-top: 30px"><button ng-click="login()">Login</button></div>
      <p><a href="#!/forgot-password">Forgot Password</a></p>
    </div>
  </div>
</div>
